<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>MSD Shopping</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28-csp/vue.min.js"></script>
</head>
<body>
<!-- Header area -->
<header>
  <ul class="navbar" id="navbar">
    <li><span><a href="#Home">Home</a></span></li>
    <li><span><a href="javascript:showAbout()">About</a></span></li>
    <li class="center-content">
      <span>
        <span onclick="showSortDropdown()" id="sort-selector" class="search-selector">Id<i></i></span>
        <i onclick="sort()" class="sort-icon"></i>
      </span>
    </li>
    <li>
      <span>
        <span onclick="showSearchDropdown()" id="filter-selector" class="search-selector">Id<i></i></span>
        <input id="filter-string" class="search" type="text" onkeyup="updateFilterString()" placeholder="Filter products...">
      </span>
    </li>
    <li class="icon">
      <span><a href="javascript:void(0);" onclick="toggleMenuCollapse()">&#9776;</a></span>
    </li>
  </ul>
</header>
<!-- The actual grid -->
<div class="Grid" id="catalogue" v-cloak>
  <div class="Grid-cell" v-for="(index,product) in products | orderBy sortModifier order | filterBy filter_data in searchModifier" v-if="index < total_count">
    <a class="product-link" v-bind:href="product.url">
      <figure class="figure">
        <span class="loader"></span>
        <img class="product-image" v-bind:src="product.img" v-bind:alt="product.name" height="300" width="300" v-on:load="loaded()" v-on:error="missingHandler()">
        <figcaption>
          ID&nbsp;:&nbsp;{{product.id}}<br>
          <span class="name">{{product.name | uppercase}}</span><br>
          <span class="catagory">{{ product.cat | capitalize }}</span><br>
          <span class="price">{{product.price | currency '₹'}}</span><br>
          <span class="score">{{product.score}}</span>
        </figcaption>
      </figure>
    </a>
  </div>
</div>
<!-- Script for fetching data -->
<script type="text/javascript">  
  callAjax("https://test-prod-api.herokuapp.com/products",updateSampleData);
</script>
<!-- Search Dropdown (todo::refactor into a single view component) -->
<div id="search-dropdown" onmouseover="showSearchDropdown()" onMouseOut="hideSearchDropdown()" class="search-filter dropdown">
  <div>
    <input type="radio" id="search-Id" onclick="updateFilterSelector(this.id)" name="search-select">
    <label for="search-id">Id</label>
  </div>
  <div>
    <input type="radio" id="search-Name" onclick="updateFilterSelector(this.id)" name="search-select">
    <label for="search-name">Name</label>
  </div>
  <div>
    <input type="radio" id="search-Catagory" onclick="updateFilterSelector(this.id)" name="search-select">
    <label for="search-catagory">Catagory</label>
  </div>
  <div>
    <input type="radio" id="search-Price" onclick="updateFilterSelector(this.id)" name="search-select">
    <label for="search-price">Price</label>
  </div>
  <div>
    <input type="radio" id="search-Score" onclick="updateFilterSelector(this.id)" name="search-select">
    <label for="search-score">Score</label>
  </div>
</div>
<!-- Sort dropdown (todo::refactor into a single view component) -->
<div id="sort-dropdown" onmouseover="showSortDropdown()" onMouseOut="hideSortDropdown()" class="sort dropdown">
  <div>
    <input type="radio" id="sort-Id" onclick="updateSortSelector(this.id)" name="sort-select">
    <label for="sort-id">Id</label>
  </div>
  <div>
    <input type="radio" id="sort-Name" onclick="updateSortSelector(this.id)" name="sort-select">
    <label for="sort-name">Name</label>
  </div>
  <div>
    <input type="radio" id="sort-Catagory" onclick="updateSortSelector(this.id)" name="sort-select">
    <label for="sort-catagory">Catagory</label>
  </div>
  <div>
    <input type="radio" id="sort-Price" onclick="updateSortSelector(this.id)" name="sort-select">
    <label for="sort-price">Price</label>
  </div>
  <div>
    <input type="radio" id="sort-Score" onclick="updateSortSelector(this.id)" name="sort-select">
    <label for="sort-score">Score</label>
  </div>
</div>
<!-- Scroll to top button -->
<div id="to-top" class="to-top" onclick="window.scrollTo(0,0);"></div>
<div id="about" class="about">
<span onclick="closeAbout()">&#10006;</span>
  <p>
    This sample e-commerce webpage was done as a part of a programming challenge.
    The total effort would have come to about 6-7 hours, The most grueling part of the challenge 
    was to use a single external js component and stick to vanilla js and css for the coding.
    The absence of bootstrap or any CSS libraries made CSS a literal nightmare to work in, But ultimately
    learned a lot. Used Vue.js as the only external library for developing the page. Haven't re-factored the code
    much either, Worked in a hackathon mode, where the output takes precedence over the code beautification 
  </p>
  <p>Notes&nbsp;:&nbsp;</p>
  <ul>
    <li>The api call is done to a app hosted in heroku, which is painfully slow... Hence it might take a while for the initial loading</li>
    <li>The image urls again are really slow, It might take a long time for the images to load</li>
    <li>Haven't implemented the loading screen, adding it to the todo list</li>
    <li>Tested in latest version of chrome, iphone 6(chrome) and Android(Moto G3-chrome)</li>
    <li>There might be a lot of bug as the total development/testing time was around 6 hours only</li>
  </ul>
</div>
</body>
</html>